.body{background: #E5E5E5;
      color: #434455;
      font-family: Roboto;
    }
    .list{list-style: none;}
    
    /* logo */
   .logo{
    font-weight: 800;
    size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    }
   
   .logo.logo-web{
    color: #4D5AE5;
    }
   .logo.logo-studio{
    color:#2E2F42;;
   }  
      
   /* site-nav */
      .site-nav{
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;}

      .site-nav.linc{
      color: #2E2F42;}
      .site-nav.link:focus,
      .site-nav.link:hover{
        color: #404BBF;
      }
        

 
    
    
   
  
  
  
  
  .site-nav.link:hover,
  .site-nav.link:focus{
    color: #404BBF;
  }
  /* address */
.site-meta.link:hover
.site-meta.link:focus{
    color: #404BBF;
}


  /* Section 1 */

  /* Section 2 */

  /* Section 3 */

  /* Section 4 */

   